body  {
  font-size: 1em;
  font-family: 'Cabin', sans-serif;
  background: black;
  color: white;
}

.container  {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 340px 1fr 50px;
  grid-template-areas:
    "header"
    "advert"
    "main"
    "footer";
  text-align: center;
}

header  {
  grid-area: header;
  display: flex;
  flex-flow: wrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0 15px 0;
}

main  {
  grid-area: main;
}

advert  {
  grid-area: advert;
  background: url(./mi-vr-5.jpg);
  background-position-x: 50%;
  background-position-y: 75%;
  background-size: 1000px;
}

footer  {
  grid-area: footer;
  margin: 1em 0 0 0;
}

.title-shift  {
  margin: 90px 0 0 0;
}

.title  {
  font-size: 3em;
}

.title-shift-h3  {
  transform: translate(0, -25px)
}

.title-shift-p  {
  transform: translate(0, 15px)
}

.text-style  {
  background: -webkit-linear-gradient(80deg, white, #AEC6DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.channel  {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
}

.chan-img  {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  transition: 1s;
}

.chan-img:hover  {
  transform: scale(1.1);
  transition: 1s;
}

    .vid-1  {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56%;
      margin: 8px 0 0 0;
    }

    iframe  {
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }

.line  {
  width: 100%;
  border-top: 2px solid white;
  opacity: 0.3;
}

a  {
  color: white;
}

img  {
  margin: 10px 0 0 0;
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.bot-bar  {
  display: flex;
  flex-flow: wrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 1em 0;
  font-size: 0.8em;
}

.bot-bar > a {
  color: white;
}

.bot-bar > a > img  {
  width: 20px;
  height: 20px;
  transition: 0.7s;
}

.bot-bar > a > img:hover  {
  transition: 0.7s;
  transform: scale(1.3);
}

.righttoleft  {
  animation-name: righttoleft;
  animation-duration: 3s;
}

.lefttoright  {
  animation-name: lefttoright;
  animation-duration: 3s;
}

@keyframes righttoleft {
  0%  {
    transform: translateX(100%);
  }
  100%  {
    transform: translateX(0);
  }
}

@keyframes lefttoright {
  0%  {
    transform: translateX(-100%);
  }
  100%  {
    transform: translateX(0);
  }
}

@media only screen /* Tablet */
  and (min-width: 768px) {
    .container  {
      grid-template-columns: 1fr;
      grid-template-rows: 50px 340px 1fr 50px;
      grid-template-areas:
      "header"
      "advert"
      "main"
      "footer";
    }

    body  {
      font-size: 1.5em;
    }
    
    advert  {
      background-repeat: no-repeat;
      font-size: 0.7em;
    }

    .title-shift-p  {
      transform: translate(0, -5px)
    }

    .channel  {
      justify-content: center;
      align-content: center;
    }
    
    .chan-text  {
      transform: translate(0, 18px);
      margin: 0 40px 0 0;
    }

    .bot-bar  {
      font-size: 0.8em;
    }

    .vid-1  {
      display: inline-block;
      justify-content: center;
      width: 1000px;
    }

    iframe  {
      width: 100%;
      height: 562px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }

    img  {
      margin: 10px 0 0 0;
      object-fit: cover;
      width: 50%;
      height: 200px;
    }
  }

@media screen /* Desktop/Laptop */
  and (min-width: 2000px) {
    .container  {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 10fr 1fr;
    grid-template-areas:
      "header header"
      "advert main"
      "footer footer"
    }
    
    advert  {
      background-position-x: 35%;
      background-position-y: 100%;
      background-size: 1600px
    }

    .bot-bar  {
      font-size: 0.8em;
    }
  }