body  {
  font-size: 1em;
  font-family: 'Cabin', sans-serif;
  background: black;
  color: white;
}

.container  { /* Mobile */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 340px 1fr 50px;
  grid-template-areas:
    "header"
    "advert"
    "main"
    "footer";
  text-align: center;
}

header  {
  grid-area: header;
  display: flex;
  flex-flow: wrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0 15px 0;
  font-size: 1.3em;
}
main  {
  grid-area: main;
}
advert  {
  grid-area: advert;
  background: url(./mi-vr-5.jpg);
}
footer  {
  grid-area: footer;
  margin: 1em 0 0 0;
}

.title  {
  font-size: 3em;
}
.title-shift  {
  margin: 90px 0 0 0;
}
.title-shift-h3  {
  transform: translate(0, -10px)
}
.title-shift-p  {
  transform: translate(0, 15px)
}
.text-style, h1, h2  {
  background: -webkit-linear-gradient(80deg, white, #AEC6DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}
h2:hover  {
  transform: scale(1.1);
  transition: 1s;
}
a:hover  {
  transform: scale(1.1);
  transition: 1s;
}

.channel  {
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
}
.chan-img  {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  transition: 1s;
}
.chan-img:hover  {
  transform: scale(1.1);
  transition: 1s;
}

.column-main {
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 56%;
  margin: 8px 0 0 0;
}
iframe  {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.line  {
  width: 100%;
  border-top: 2px solid white;
  opacity: 0.3;
}

a  {
  color: white;
}

img  {
  margin: 10px 0 0 0;
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.headset-quest-bg  {
  background: url(./oculus-quest-bg.jpg);
  background-size: 1200px;
  background-position: 50%;
}
.headset-rift-bg  {
  background: url(./oculus-rift-bg.jpg);
  background-size: 1300px;
  background-position: 68% 80px;
}
.headset-vive-bg  {
  background: url(./htc-vive-bg.jpg);
  background-size: 1000px;
  background-position: 20%;
}
.ps-vr-bg  {
  background: url(./ps-vr-bg.jpg);
  background-size: 1000px;
  background-position: 65%;
}
.headset-go-bg  {
  background: url(./oculus-go-bg.jpg);
  background-size: 1200px;
  background-position: 20% 60%;
}
.headset-gear-bg  {
  background: url(./Galaxy-S8-Gear-VR-bg.jpg);
  background-size: 800px;
  background-position: 40% -35%;
}

.games-chronos-bg  {
  background: url(./Chronos-bg.jpg);
}

.bot-bar  {
  display: flex;
  flex-flow: wrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 1em 0;
  font-size: 0.9em;
}
.bot-bar > a {
  color: white;
}
.bot-bar > a > img  {
  width: 20px;
  height: 20px;
  transition: 0.7s;
}
.bot-bar > a > img:hover  {
  transition: 0.7s;
  transform: scale(1.3);
}
.bot-bar-img-space  {
  margin: 0 0 0 5%;
}
.bot-bar-img-space > a {
  padding: 0 5px;
}
.bot-bar-a-space > a {
  margin: 0 10px;
}

form  {
  max-width: 320px;
  margin: 0 auto 40px;
  padding: 40px;
}
label  {
  display: block;
  margin: 0 0 5px;
}
input, textarea {
  margin: 0 0 20px 0;
  width: 300px;
  background: linear-gradient(80deg, white, #AEC6DF);
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 5px 0;
}
.button  {
  width: 80px;
  padding: 5px 15px 5px 15px;
  transition: 1s;
}
.button:hover  {
  background: #FFFFFF;
  transform: scale(1.1);
  transition: 1s;
}

.bg-righttoleft {
  -webkit-animation: bg-righttoleft 3s ease-in-out;
  background-position: 50% 75%;
  background-size: 1000px;
}
.vid-anim-go  {
  animation-name: lefttoright;
  animation-duration: 3s;
}
.righttoleft  {
  animation-name: righttoleft;
  animation-duration: 3s;
}
.lefttoright  {
  animation-name: lefttoright;
  animation-duration: 3s;
}

@keyframes bg-righttoleft {
  0% {
    background-position: 20% 75%;
    opacity: 0;
  }
  100% {
    background-position: 50% 75%;
  }
}
@keyframes opacity {
  0%  {
    opacity: 0;
  }
  100%  {
    opacity: 1;
  }
}
@keyframes righttoleft {
  0%  {
    transform: translateX(100%);
    opacity: 0;
  }
  100%  {
    transform: translateX(0);
  }
}
@keyframes lefttoright {
  0%  {
    transform: translateX(-100%);
    opacity: 0;
  }
  100%  {
    transform: translateX(0);
  }
}

#hide  {
  display: none;
}
#hide-desktop  {
  display: none;
}
#hide-line  {
  display: block;
}

@media only screen /* Tablet */
  and (min-width: 885px) {
    .container  {
      grid-template-columns: 1fr;
      grid-template-rows: 50px 340px 1fr 50px;
      grid-template-areas:
      "header"
      "advert"
      "main"
      "footer";
    }

    body  {
      font-size: 1.2em;
    }
    header  {
      font-size: 1.4em;
    }
    advert  {
      background-repeat: no-repeat;
      font-size: 0.9em;
    }

    .title  {
      font-size: 3.5em;
    }
    .title-shift  {
      margin: 90px 0 0 0;
    }
    .title-shift-h3  {
      transform: translate(0, -30px);
      font-size: 2em;
    }
    .title-shift-p  {
      transform: translate(0, -35px);
    }
    .channel  {
      transform: translate(0, -40px);
    }

    .channel  {
      justify-content: center;
      align-content: center;
    }
    .chan-text  {
      transform: translate(0, 18px);
      margin: 0 20px 0 40px;
    }

    .column-main  {
      display: flex;
      position: relative;
      flex: 0 1 auto;
      padding-bottom: 0%;
    }
    .column  {
      display: flex;
      flex-direction: column;
      margin: 0 10px 0;
      width: 50%;
    }
    .column:nth-child(3)  {
      display: none;
    }
    .column-text  {
      min-height: 320px;
    }
    .vid-contain  {
      position: relative;
      overflow: hidden;
      padding-bottom: 56%;
    }

    .bot-bar  {
      margin: 20px 0 0 0;
      font-size: 0.9em;
    }
    .bot-bar-img-space  {
      margin: 0 0 0 10%;
    }
    .bot-bar-img-space > a {
      padding: 0 20px;
    }
    .bot-bar-a-space > a {
      margin: 0 20px;
    }

    img  {
      margin: 10px 0 0 0;
      object-fit: cover;
      width: 50%;
      height: 200px;
    }

    .vid-anim-go  {
      animation-name: lefttoright;
      animation-duration: 3s;
    }
    .vid-anim-quest  {
      animation-name: righttoleft;
      animation-duration: 3s;
    }
    .bg-righttoleft {
      background-size: 2000px;
      background-position: 50% 50%;
    }

    @keyframes bg-righttoleft {
      0% {
        background-position: 0% 50%;
        opacity: 0;
      }
      100% {
        background-position: 50% 50%;
      }
    }

    #hide  {
      display: block;
    }
    #hide-desktop  {
      display: none;
    }
    #hide-line  {
      display: block;
    }
  }

@media only screen /* Big Tablet */
and (min-width: 1170px) {
  .column-text  {
    min-height: 260px;
    padding: 20px 0 0 0;
  }
}

@media screen /* Desktop/Laptop */
  and (min-width: 1900px) {
    .container  {
      max-width: 2500px;
      grid-template-columns: 250px 1fr;
      grid-template-rows: 50px 340px 1fr 50px;
      grid-template-areas:
      "header header"
      "advert advert"
      "sidebar main"
      "footer footer";
    }

    sidebar  {
      background: url(./gear-vr.jpg);
      background-size: 100%;
    }

    .title  {
      font-size: 3.5em;
    }
    .title-shift  {
      margin: 90px 0 0 0;
    }
    .title-shift-h3  {
      transform: translate(0, -30px);
      font-size: 2em;
    }
    .title-shift-p  {
      transform: translate(0, -35px);
    }
    .channel  {
      transform: translate(0, -40px);
    }

    .news-games  {
      display: flex;
    }
    .news  {
      width: 50%;
      padding: 0 10px;
    }
    .games  {
      width: 50%;
      padding: 0 10px;
    }

    .column  {
      width: 33.3%;
    }
    .column:nth-child(3)  {
      display: flex;
    }
    .column-text  {
      min-height: 310px;
      padding: 20px 0 0 0;
    }

    .vid-anim-go  {
      animation-name: lefttoright;
      animation-duration: 3s;
    }
    .vid-anim-quest  {
      animation-name: opacity;
      animation-duration: 6s;
    }
    .vid-anim-chronos  {
      animation-name: righttoleft;
      animation-duration: 3s;
    }

    .bot-bar  {
      font-size: 0.9em;
    }

    img  {
      margin: 10px 0 0 0;
      object-fit: cover;
      width: 70%;
      height: 200px;
    }

    #hide-desktop  {
      display: block;
    }
    #hide-line  {
      display: none;
    }
  }
  