body  {
  font-size: 1em;
  font-family: 'Cabin', sans-serif;
  background: black;
  color: white;
}

.container  {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 280px 1fr 50px;
  grid-template-areas:
    "header"
    "advert"
    "main"
    "footer";
  text-align: center;
}

header  {
  grid-area: header;
  display: flex;
  flex-flow: wrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0 15px 0;
}

main  {
  grid-area: main;
}

advert  {
  grid-area: advert;
  background-image: url(./mi-vr-5.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 1000px;
  animation: 2s ease-out 0s 1 righttoleft;
}

footer  {
  grid-area: footer;
  margin: 1em 0 0 0;
}

.title  {
  font-size: 2.5em;
}

.title-shift  {
  margin: 140px 0 0 0;
}

.title-shift2  {
  margin: 0 0 0 0;
}

@keyframes righttoleft {
  0%  {
    transform: translateX(100%);
  }
  100%  {
    transform: translateX(0);
  }
}

.vid-1  {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
}

iframe  {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.line  {
  width: 100%;
  border-top: 2px solid white;
  opacity: 0.4;
}

a  {
  color: white;
}

img  {
  margin: 10px 0 0 0;
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.bot-bar  {
  display: flex;
  flex-flow: wrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 1em 0;
  font-size: 0.8em;
}

.bot-bar > a {
  color: white;
}

.bot-bar > a > img  {
  width: 20px;
  height: 20px;
  transition: 0.7s;
}

.bot-bar > a > img:hover  {
  transition: 0.7s;
  transform: scale(1.3);
}

@media only screen /* Tablet */
  and (min-width: 768px) {
    body  {
      font-size: 1.5em;
    }
    
    .bot-bar  {
      font-size: 0.8em;
    }
  }

@media screen /* Desktop/Laptop */
  and (min-width: 1600px) {
    .container  {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 10fr 1fr;
    grid-template-areas:
      "header header"
      "advert main"
      "footer footer"
    }
    
    advert  {
      background-position-x: 35%;
      background-position-y: 100%;
      background-size: 1600px
    }

    .bot-bar  {
      font-size: 0.8em;
    }
  }